@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('./glow.css');
@font-face{ 
	font-family: 'Top Secret';
	src: url('WebFont.eot');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
   .flexCentered{
      @apply flex justify-center items-center
   }
}

:root{
   --neon-green: #39ff14;
   --neon-red: hsl(0 100% 60%);
}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   transition: all 100ms ease;
   font-family: 'IBM Plex Mono', monospace;
   -webkit-tap-highlight-color: transparent;
}
*:focus-visible{
   outline: 2px solid transparent;
   box-shadow: 0 0 0 2px white;
   z-index: 1;
}

html, body{
   width: 100vw;
   height: 100vh;
}
body {
   background: hsl(0 0% 0%);
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   overflow: hidden;
}

.shake{
   animation: shake 0.3s;
}
@keyframes shake{
   0% { transform: translate(0) }
   20% { transform: translate(0.3em) }
   40% { transform: translate(-0.3em) }
   60% { transform: translate(0.3em) }
   80% { transform: translate(-0.3em) }
   100% { transform: translate(0) }
}
